* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
/* .background {
  background-image: url("/prof.jpg");
} */
body img {
  max-width: 100%;
}
.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #212121;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  z-index: 1000;
  transition: 0.4s;
}

.main-menu > ul {
  margin: 7px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-size: 14px;
  text-decoration: none;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  transition: 0.4s;
  font-size: 20px;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #000000;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

.onpage {
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .main-menu {
    display: none;
  }
  .main {
    display: block !important;
  }
}

/* ///////////////////////////////////////////////////////////////* */
/* ///////////////////////////////////////////////////////////////* */
/* ///////////////////////////////////////////////////////////////* */

/* ///////////////////////////////////////////////////////////////* */
/* ///////////////////////////////////////////////////////////////* */
/* ///////////////////////////////////////////////////////////////* */
/* ///////////////////////////////////////////////////////////////* */
.containertwo {
  margin: 20px auto;
  text-align: center;
}

.containerthree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  position: absolute;
  width: 150px;
  top: 10px;
  right: 0;
}

.block {
  display: grid !important;
}
.none {
  display: none !important;
}

/* /////////////////////// */
.main {
  width: max-content;
  height: max-content;
  position: fixed;
  top: 5px;
  left: 5px;
  display: none;
  z-index: 1001;
}
.menu {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu span {
  position: absolute;
  width: 30px;
  height: 4px;
  background: rgb(80, 80, 80);
}
.menu input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.menu span:nth-child(2) {
  transform: translateY(-12px);
  transition: all 0.2s;
}
.menu span:nth-child(5) {
  transform: translateY(12px);
  transition: all 0.2s;
}
.menu input:checked ~ span:nth-child(2) {
  opacity: 0;
}
.menu input:checked ~ span:nth-child(5) {
  opacity: 0;
}

.menu span:nth-child(3) {
  transform: rotate(0);
  transition: all 0.4s;
}
.menu span:nth-child(4) {
  transform: rotate(0);
  transition: all 0.4s;
}
.menu input:checked ~ span:nth-child(3) {
  transform: rotate(45deg);
}
.menu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg);
}

.change {
  top: 90%;
}
.block {
  display: block;
}
